---
import {
	About,
	Experience,
	Header,
	Home,
	Marquee,
	Projects,
} from "@/components";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Rocou">
	<section id="menu-header" class="flex justify-center">
		<Header />
	</section>
	<section
		id="content"
		class="flex flex-col items-center justify-center mt-16"
	>
		<Home />
		<Marquee />
		<Experience />
		<Projects />
		<About />
	</section>
</Layout>
