---
import Education from "./Education.astro";
---

<section
    id="about"
    class="w-full px-5 py-5 md:flex md:justify-center md:flex-col"
>
    <div class="mx-auto max-w-6xl">
        <h3 class="text-4xl font-bold md:text-5xl">
            <span
                class="bg-linear-to-r from-azureblue to-steelblue bg-clip-text text-transparent"
            >
                About
            </span>
        </h3>
    </div>
    <article class="flex flex-col gap-3 mt-2">
        <p>
            I’m a software developer focused on building web applications and
            user-centered digital experiences. I enjoy turning ideas into
            functional interfaces, writing maintainable code, and improving the
            way users interact with software.
        </p>
        <p>
            Over the last few years, I’ve worked on internal systems, business
            modules, and web solutions using technologies such as .NET,
            JavaScript, SQL Server, PHP, and modern frontend tools. I’m
            particularly interested in frontend development, clean UI design,
            and creating software that is both useful and intuitive.
        </p>
        <p>
            Beyond coding, I’m constantly learning, exploring new technologies,
            and improving my skills through personal projects and self-driven
            study.
        </p>
    </article>
    <Education />
</section>
