<section id="contact" class="w-full px-5 py-5">
    <div class="mx-auto max-w-6xl">
        <h3 class="text-4xl font-bold md:text-5xl md:flex md:justify-center">
            <span
                class="bg-linear-to-r from-azureblue to-steelblue bg-clip-text text-transparent"
            >
                Contact
            </span>
        </h3>

        <article class="mt-6 flex flex-col gap-3">
            <p
                class="text-base leading-relaxed text-inkblack dark:text-aliceblue/85 md:text-lg"
            >
                I’m currently open to new opportunities, collaborations, and
                projects where I can contribute as a software developer.
            </p>
            <p
                class="text-base leading-relaxed text-inkblack dark:text-aliceblue/85 md:text-lg"
            >
                If you’d like to work together or just connect, feel free to
                reach out.
            </p>
        </article>
    </div>
</section>
