---

---

<!-- código provisional a la espera del logo real -->
<section class="flex flex-row gap-1 items-center justify-center">
    <a href="/#home" class="text-md md:text-xl">
        <span class="font-black">U</span>riel <span class="font-thin">RC</span>
    </a>
</section>
