---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href="./src/styles/global.css" />
		<title>{title}</title>
	</head>
	<body
		class="bg-aliceblue dark:bg-inkblack text-inkblack dark:text-aliceblue font-leaguespartan scroll-smooth"
	>
		<slot />
	</body>
</html>
